html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: Calibri, Arial, Sans-Serif;
	vertical-align: baseline;
}
/* Menu */
.header-topo{
	background-color:#2C2C2C;
	overflow:auto;
	font-size: 1.3rem;
	border-bottom: 1px solid #7D7D7D;
}
.header-topo > header{
	padding: 80px;
	background: url("../img/logo.png"), #2C2C2C;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 250px;
}
.menu-resposive{
	text-align:center;
	margin: 15px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}
#menu > span{
	color:white;
	cursor: pointer;
}
#menu-icon{
	margin: 0px 2px;
	padding: 5px;
	cursor: pointer;
}	
#menu-icon > div{
	padding: 1.5px 10px;
	margin: 3px 0px;
	background-color: white;
}	
.menu{
	list-style:none;
	text-align:center;
	display: none;
}	
.menu > li{
	margin: 5px 0px;
}	
.menu > li > a:link, .menu > li > a:visited{
	text-decoration:none;
	color:white;
	display:block;
	padding: 10px 0px;
}	
.active{
	background-color: #585858;
}	
/* Fim do Menu */
/* Rodapé*/
.rodape{
	background-color: #2c2c2c;
	text-align: center;
	color: white;
	font-size: 1rem;
	padding: 10px;
}	
.maparodape{
	display: none;
}
.info  a:link, .info a:visited{
	text-decoration: none;
	color:#FF791F;
}
.referencias{
	margin-top: 10px;
}	
.referencias > header{
	display: inline-block;
}	
/* Fim do Rodapé*/
/* Conteúdo */
.mapa{
	display:none;
}	
main{
	min-height: calc(100vh - 350px);
	padding: 10px 20px;
}		
/* Index */
.infopp{
	color:white;
	padding-top: 100px;
	margin-bottom: 10px;
	border: 1px solid black;
}	
.infopp > section{
	background-color: rgba(0,0,0, 0.8);
	padding: 10px;
}	
.infopp header{
	text-align: center;
	font-size: 1.2rem;
}
.infopp  article{
	text-align: justify;
	font-size: 1rem;
}
.infopp h3{
	color: #FF791F;
}
.infopp a:link, .infopp a:visited{
	text-decoration: none;
	color:white;
}	
#sobre{
	background-image:url('../img/perfil.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;
}	
#fatec{
	background-image:url('../img/fatecjales.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
}	
#materias{
	background-image:url('../img/materias.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80%;
}	
/* Fim do Index*/
/* Matérias */
.pmateria > article{
	display: flex;
	justify-content: center;
	align-items: top;
	flex-flow: wrap row; 
}	
.materiasdiv{
	max-width: 300px;
	border: 1px solid black;
	padding: 10px;
	text-align: justify;
	margin: 20px;
}
.materiasdiv > header{
	padding-bottom: 10px;
}	
.materiasdiv > header > h4{
	color: #FF791F;
	text-align:center;
	font-size: 1.3rem;
	padding-top: 160px;
}	
.objetivo{
	font-size: 1.1rem;
}	
.objetivo > span{
	border-left: 1.5px solid #FF791F;
	padding-left: 5px;
	font-weight: bold;
}	
#prog > header{
	background-image: url('../img/logoprog.png');
	background-position: top;
	background-repeat: no-repeat;
	background-size: 40%;
}
#bases > header{
	background-image: url('../img/logobases.png');
	background-position: top;
	background-repeat: no-repeat;
	background-size: 40%;
}	
#ccw > header{
	background-image: url('../img/logoccw.png');
	background-position: top;
	background-repeat: no-repeat;
	background-size: 40%;
}	
#design > header{
	background-image: url('../img/logodesign.png');
	background-position: top;
	background-repeat: no-repeat;
	background-size: 40%;
}	
#matematica > header{
	background-image: url('../img/logomatematica.png');
	background-position: top;
	background-repeat: no-repeat;
	background-size: 40%;
}
#ingles > header{
	background-image: url('../img/logoingles.png');
	background-position: top;
	background-repeat: no-repeat;
	background-size: 40%;
}
#port > header{
	background-image: url('../img/logoportugues.png');
	background-position: top;
	background-repeat: no-repeat;
	background-size: 40%;
}
#ppsi > header{
	background-image: url('../img/logoppsi.png');
	background-position: top;
	background-repeat: no-repeat;
	background-size: 40%;
}
/* Fim da Matérias*/
/*Fim do Conteúdo*/
@media all and (min-width: 425px){
	.materiasdiv > header > h4{
		padding-top: 180px;
	}	
}	
@media all and (min-width: 768px) {
	/* Menu */
	.header-topo{
		font-size: 1.3rem;
	}
	/*Fim do Menu */
	/* Conteudo */
		/* Index */
			.pprincipal{
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.pprincipal >article{
				display: grid;
				grid-template-areas:
				'sobre fatec fatec'
				'sobre materias materias';
				grid-template-columns: 400px 300px auto auto;
				grid-gap: 10px;
			}	
			#sobre > section{
				position: relative;
				top: 28%;
			}	
			#sobre{
				grid-area: sobre;
			}	
			#fatec{
				grid-area: fatec;
			}	
			#materias{
				grid-area: materias;
			}			
		/* Fim do Index*/
	/*Fim do Conteudo */
}
@media all and (min-width: 1024px){
	/* Menu */
	.menu-resposive{
		display:none;
	}
	.menu{
		display:flex;
		justify-content: center;
	}	
	.menu > li{
		margin: 0px;
	}	
	.menu > li > a:link, .menu > li > a:visited{
		padding: 10px 10px;
		margin-bottom: 0px;
	}
	.menu > li > a:hover{
		border-bottom: 1.5px solid white;
	}
	.active{
		border-bottom: 1.5px solid white;
	}
	/*Fim do Menu */
	/*Rodapé*/
	.rodape{
		overflow:auto;
		padding-bottom:0px;	
	}	
	.info a:hover{
		text-decoration: underline;
	}
	.maparodape{
		display:block;
	}
	.maparodape > nav{
		margin-bottom: 10px;
	}	
	.maparodape > nav ul{
		list-style: none;
	}	
	.maparodape > nav  a:link, .maparodape > nav  a:visited{
		text-decoration: none;
		color: #c2c2c2;
	}
	.maparodape > nav  a:hover{
		color: #FF791F;
	}
	.direitos{
		margin-bottom:-28px;
	}	
	.referencias{
		float:right;
	}	
	/*Fim do Rodapé*/
	/* Conteudo */
		.mapa{
			display: block;
			padding: 10px;
		}	
		.mapa a:link,.mapa a:visited, .mapa{
			text-decoration: none;
			color: #2c2c2c;
			font-size: 1rem;
		}
		.mapa a:hover{
			color: #FF791F;
		}
		/* Index */
			.pprincipal{
				padding: 40px 0px;
			}	
			.pprincipal >article{
				grid-template-columns: 600px 300px auto auto;
				grid-template-rows: 200px 200px;
			}
			.infopp header{
				font-size: 2rem;
			}
			.infopp  article{
				font-size: 1rem;
			}
			.infopp a:hover p{
				text-decoration: underline;
			}	
			#sobre{
				background-size: 70%;
			}	
			#sobre > section{
				position: relative;
				top: 45%;
			}	
			#fatec > section{
				position: relative;
				top: 15%;
			}	
			#materias > section{
				position: relative;
				top: 15%;
			}
		/* Fim do Index*/
	/*Fim do Conteudo */
}
@media all and (min-width: 1440px) {
	/* Menu */
	.header-topo{
		font-size:2rem;
	}
	.rodape{
		font-size: 1.3rem;
	}
	/*Fim do Menu */
	
	/* Conteudo */
		/* Index */
			.pprincipal >article{
				grid-template-columns: 800px 500px auto auto;
				grid-template-rows: 300px 300px;
			}
			.infopp header{
				font-size: 2.5rem;
			}
			.infopp  article{
				font-size: 1.5rem;
			}
			#sobre > section{
				position: relative;
				top: 56%;
			}	
			#sobre{
				background-size: 90%;
			}
			#fatec > section{
				position: relative;
				top: 40.5%;
			}	
			#materias > section{
				position: relative;
				top: 40.5%;
			}			
		/* Fim do Index*/
	/*Fim do Conteudo */
}